form {
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

.error {
  color: red;
  font-size: 0.8rem;
  height: 1rem;
}
